<div class='container-fluid d-flex flex-column align-items-center'>

    {{#unless logged_in}}
       <div>
        <a href="../login">Login</a>
        <a href="../createuser">Create Account</a>
       </div>
    {{/unless}}
    {{#if logged_in}}
    <div>
        <a class='text-decoration-none text-warning fw-bolder m-2' href='../api/post/createPost'>Create Blog</a>
        <a class='text-decoration-none text-warning fw-bolder m-2' href='../api/post/deletePost'>Delete Blog</a>
        <a class='text-decoration-none text-warning fw-bolder m-2' href='../api/post/updatePost'>Update Blog</a>
        <a class='text-decoration-none text-warning fw-bolder m-2' href='../logout'>Logout</a>
    </div>  
    {{/if}}
    
    <div class='container-fluid d-flex flex-column align-items-center postPostsContainer'> 
        {{#each mappedBlogPosts}}
            <div class='postPost'>
                <h2 class='postTitle text-white bg-dark'>{{this.title}}</h2>
                <p class='postContent fw-bold'>{{this.content}}</p>
                <p class='fst-italic'>Posted by: {{this.user.name}} on {{this.date_created}} </p>
                <p class=''>Blog Id: {{this.id}}</p>
                <input class='commentInput' id='{{this.id}}_comment'></input>
                <button class='addCommentBtn button' id= '{{this.id}}'>Add Comment</button>

                {{#each this.Comments}}
                    <div class='postComments'>
                        <p>{{this.comment}}</p>   
                    </div>
                {{/each}}

            </div>
        {{/each}}
    </div>

</div>



<script src="./js/homepage.js"></script>
<script src="./js/addComment.js"></script>